/*div{
  border: 1px solid red;
}*/
.video-player{
  position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-player iframe, .video-player object, .video-player embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.vote-count{
  border: 1px solid grey;
  padding: 10px 15px;
  background-color: #afdfff;
}

.vote-down{
  position:absolute;
  top:0%;
  left:45%;
  padding: .05em 3em;
  margin: .05em;
  color: white;
  background-color: #ff4c4c;
  cursor: pointer;
  user-select: none;
  border-radius: .5em;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
.vote-up img{
  width: 6%;
}

.vote-down img {
  width: 5%;
}

.vote-up{
  position:absolute;
  top:0%;
  left:5%;
  padding: .05em 3em;
  margin-bottom: 10px;
  color: white;
  background-color: #4a8ef9;
  cursor: pointer;
  user-select: none;
  border-radius: .5em;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.vote-down:hover {
	background:#9c89f6;
	box-shadow:0px 4px #6b54d3;
}

.vote-up:hover {
	background:#9c89f6;
	box-shadow:0px 4px #6b54d3;
}

.vote-up:active{
  top: 3px;
	box-shadow: 0px 0px #d3545d;
}

.vote-down:active{
  top: 3px;
	box-shadow: 0px 0px #d3545d;
}

.poster{
  margin-top: 10px;
}
