<h1>About</h1>
<p>This project was a tool to learn <a href="https://emberjs.com/">ember.js.</a></p>
<p> This is a tool that allows friends to submit movies to watch in my backyard and for everone to vote on which movie to watch.</p>
<strong>RULES</strong>
<p>Each person gets 2 up Votes and 2 Down Votes. Use them wisely.</p>

{{outlet}}
