<h1>BACK YARD MOVIES</h1>
<br>
<ul>
  <li>{{#link-to 'posts'}}posts{{/link-to}}</li>
  <li>{{#link-to 'newpost'}}Submit{{/link-to}}</li>
  <li>{{#link-to 'about'}}about{{/link-to}}</li>
</ul>
{{outlet}}
